<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos Digitais</title>
</head>
<body>
    <div>
        <h2>tabelas:</h2>
        <ul>
            <li><a href="/jogos" target="_blank">Jogos</a></li>
            <li><a href="/devs">Desenvolvedores</a></li>
            <li><a href="/plataformas">Plataformas</a></li>
            <li><a href="/generos">Gêneros</a></li>
        </ul>
    </div>
</body>
</html>