<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvedores</title>
</head>
<body>
    <div>
        <a href="/">Retornar ao Índice</a>
        {% if devs.__len__() == 0 %}
        <h2>Não há Desenvolvedores Registrados!</h2>
        {% endif %}
        <table border='1'>
            <thead>
                <th>ID</th>
                <th>Nome</th>
            </thead>
            <tbody>
                {% for dev in devs %}
                <tr>
                    <td>{{dev['id']}}</td>
                    <td>{{dev['nome_dev']}}</td>
                    <td><a href="devs/editar/{{dev['id']}}">Editar</a></td>
                    <td><a href="devs/remover/{{dev['id']}}">Remover</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="devs/novo">Adicionar novo Registro</a>
    </div>
</body>
</html>